In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv('MSFT_S_P.csv', index_col = 'Date')
data

                 MSFT        ^GSPC
Date
2012-01-03  23.031868  1277.060059
2012-01-04  23.573898  1277.300049
2012-01-05  23.814798  1281.060059
2012-01-06  24.184755  1277.810059
2012-01-09  23.866419  1280.699951
...               ...          ...
2016-12-23  62.500671  2263.790039
2016-12-27  62.540195  2268.879883
2016-12-28  62.253590  2249.919922
2016-12-29  62.164646  2249.260010
2016-12-30  61.413525  2238.830078

[1258 rows x 2 columns]

In [4]:
sec_returns = np.log( data / data.shift(1) )

In [5]:
cov = sec_returns.cov() * 250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018208
^GSPC  0.018208  0.016361

In [6]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.018208431910398934

In [7]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016360592699269046

In [8]:
MSFT_beta = cov_with_market / market_var
MSFT_beta

1.1129445152199435

In [9]:
MSFT_er = 0.025 + MSFT_beta * 0.05
MSFT_er

0.08064722576099717

In [10]:
from scipy import stats

In [11]:
Sharpe = (MSFT_er - 0.025) / (sec_returns['MSFT'].std() * 250 ** 0.5)
Sharpe

0.2399550242355263